.dashboard-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9fbff;
  box-shadow: inset 0 0 14px #d9d9d980;
  font-size: 1rem;
  padding-bottom: 50px;
}
