.payment-container {
  display: flex;
  flex-direction: row;
  gap: 6.5rem;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 24px;

  .payment-left {
    flex: 1;
    max-width: 550px;

  }
}
.back-to-detail {
  font-size: 2.3rem;
  font-weight: 700;
  margin: 0 0 24px 0;
  line-height: 1.5;
  color: #222;
}

.btn-request {
  font-size: 1.25rem;
  height: 4rem;
}
