.payment-container {
  display: flex;
  flex-direction: row;
  gap: 6.5rem;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 24px;

  .payment-left {
    flex: 1;
    max-width: 550px;
  }
}
.back-to-detail {
  font-size: 2.3rem;
  font-weight: 700;
  margin: 0 0 20px 0;
  line-height: 1.5;
  color: $clr7;
}

.btn-request {
  font-size: 1.25rem;
  height: 3.5rem;
  border-radius: 1rem;
  width: 20em;
  font-weight: 550;
  background: $clr-brand-main;
}

////////////////////////////////////////////
.main-payment-grid {
  display: grid;
  grid-template-areas: "left right" "footer footer";
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 24px;
}

.booking-summary-wrapper {
  grid-area: right;
}

.payment-left {
  grid-area: left;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.payment-method-wrapper {
  width: 100%;
}

.confirm-wrapper {
  grid-area: footer;
  display: flex;
  justify-content: flex-start;
}

///////////////////////////
@media (max-width: 950px) {
  .main-payment-grid {
    grid-template-areas:
      "right"
      "left"
      "footer";
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .payment-summary-bottom,
  .message-to-host {
    display: none !important;
  }

  .booking-summary-wrapper,
  .payment-left,
  .payment-method-wrapper,
  .confirm-wrapper {
    width: 100%;
    max-width: 26em;
  }

  .message-to-host {
    display: none;
  }

  .confirm-wrapper {
    margin-top: 20px;
  }
}
