.reservations {
  .btn-approve,
  .btn-reject {
    padding: 5px 12px;
    border: 1px solid;
    border-radius: 99px;
    font-weight: 600;
    cursor: pointer;
    margin-inline: 5px;
    transition: background-color 0.2s ease, color 0.2s ease;
    background-color: $clr-white;
  }

  // Approve button
  .btn-approve {
    color: $approve-reservation;
    border-color: $approve-reservation;
    &:hover {
      background-color: $approve-reservation;
      color: $clr-white;
    }
    &.active {
      background-color: $approve-reservation;
      color: $clr-white;
    }
  }
  // Reject button 
  .btn-reject {
    color: $reject-reservation;
    border-color: $reject-reservation;
    &:hover {
      background-color: $reject-reservation;
      color: $clr-white;
    }
    &.active {
      background-color: $reject-reservation;
      color: $clr-white;
    }
  }

  table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    font-size: rem(14px);
    thead {
      background-color: $gray0;
      th {
        &:first-child {
          width: 15%;
        }
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          width: 10%;
        }
        &:nth-child(7) {
          width: 7%;
        }
      }
    }

    tbody {
      tr {
        padding-block: rem(10px);
        td {
          text-align: center;
          padding: 0.7em 0.9em;
        }
        &:nth-child(even) {
          background-color: $gray12;
        }
        &:nth-child(even):hover {
          background-color: $gray11;
        }
      }

      .guest-info {
        display: flex;
        align-items: center;

        img {
          aspect-ratio: 1/1;
          object-fit: cover;
          width: 40px;
          border-radius: 50%;
          margin-inline-end: rem(15px);
        }
      }
    }
  }
}

// Order Status 
.status {
  font-weight: 600;
  text-transform: capitalize;

  &.pending {
    color: $pending-reservation;
  }

  &.approved {
    color: $approve-reservation;
  }

  &.rejected {
    color: $reject-reservation;
  }
}

tr:hover {
  background-color: $gray11;
}
