.modal-screen {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1400;
}

.modal {
  background-color: white;
  border-radius: 16px;
  padding: 2rem;
  width: min(90%, 500px);
  max-width: 500px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  animation: fadeIn 0.2s ease;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 2001;
  position: relative;

  h2, h3 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid $gray11;
  }

  input,
  select {
    padding: 0.75rem 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
    width: 100%;
    background-color: white;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
  }

  input:focus {
    outline: 2px solid #e61e4d;
  }

  button {
    background: linear-gradient(to right, $glow-button1, $glow-button2);
    border: none;
    color: white;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      background: linear-gradient(to right, #d70466, #e61e4d);
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

////////////////////////////////////////////////////////////////////

.signup-btn {
  display: flex;
  place-self: center;
  border-radius: 5em;
  background-color: #fff;
  color: black;
  border: 1px solid black;
}

.error-msg {
  color: red;
  background-color: #ffe0e0;
  border: 1px solid red;
  padding: 10px;
  margin-top: 1em;
  border-radius: 4px;
  text-align: center;
}

.error-msg {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  color: red;
  background-color: #ffe0e0;
  border: 1px solid red;
  padding: 10px;
  margin-top: 1em;
  border-radius: 4px;
  text-align: center;
}
.error-msg.fade-out {
  opacity: 0;
}

////////////////////////////////////////
.user-list {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin-top: 1rem;
  justify-content: center;
}

.user-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
}

.user-preview:hover {
  background-color: #f0f0f0;
}

.user-preview img {
  width: 2.7em;
  height: 2.7em;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.6em;
}

.host-label {
  font-size: 0.75em;
  color: #e63946;
}
