.filter-carousel {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 6rem;

  .scroll-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $clr-white;
    border: 1px solid $gray2;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    z-index: 3;
    width: 2.5em;
    height: 2.5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    &:hover {
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }

    &.left {
      left: 8px;
    }

    &.right {
      right: 8px;
    }
  }

  .scroll-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;

    .filter-list {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      gap: 0.6rem;
      scroll-behavior: smooth;
      white-space: nowrap;
      padding: 12px 0;

      :hover{
        color: $clr7;
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .filter-fade-left,
    .filter-fade-right {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 3em;
      height: 100%;
      pointer-events: none;
      z-index: 2;
      background: white;
    }

    .filter-fade-left {
      left: 0;
      mask-image: linear-gradient(to right, black 60%, transparent);
      -webkit-mask-image: linear-gradient(to right, black 60%, transparent);
    }

    .filter-fade-right {
      right: 0;
      mask-image: linear-gradient(to left, black 60%, transparent);
      -webkit-mask-image: linear-gradient(to left, black 60%, transparent);
      .filter-fade-left {
        background: red;
      }
    }
  }

  .filter-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 4.45em;
    cursor: pointer;
    color: $gray5;
    flex: 0 0 auto;
    position: relative;

    &:hover {
      svg,
      .icon-img {
        filter: brightness(0); 
      }
    }

    .icon-img {
      width: 1.2em;
      height: 1.2em;
      object-fit: contain;
    }

    .label {
      font-size: 0.6em;
      font-weight: 700;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      height: 2px;
      width: 100%;
      background-color: black;
      opacity: 0;
      transition: opacity 0.2s;
    }

    &:hover::after {
      opacity: 0.4;
    }

    &.active::after {
      opacity: 1;
    }
  }
}
.scroll-btn {
  z-index: 3;
}
