.app-footer {
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 2em;
  background-color: $clr-bg;
  font-size: 0.91rem;
  border-top: 1px solid $gray2;

  
  .footer-left,
  .footer-right {
    display: flex;
    align-items: center;
    // gap: 0.4em;
    flex-wrap: wrap;
    line-height: 1.4;
  }
  
  .footer-left {
    font-weight: 400;
    gap: 1em;

    .footer-left > a {
      gap: 1.4em;
    }
  }
  

  .footer-right {
    display: flex;
    align-items: center;
    gap: 1.5em;
    font-weight: 430;
    
    .language {
      display: flex;
      flex-direction: row;
      gap: 0.7em;
    }
  }
  
  .lng-cur {
    display: flex;
    flex-direction: row;
    gap: 1em;
  }
  
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.2em;
    
    .lng-cur {
      display: flex;
      flex-direction: row;
      gap: 1em;
    }
    
    .footer-left,
    .footer-right {
      width: 100%;
      justify-content: flex-start;
    }
    
    .footer-right {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.6em;
    }
    
    .footer-left {
      order: 2;
    }
    
    .footer-right {
      order: 1;
    }
    
    .help-section-fotter {
      display: flex;
      flex-direction: row;
      gap: 0.4em;
    }
  }
}

.social-icons {
  display: flex;
  gap: 1.2em;

  a {
    color: #222;
    font-size: 1.25rem;
    transition: color 0.3s ease;

    &:hover {
      color: #ff385c; 
    }
  }
}

