.app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  max-height: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 40px;
  background-color: #fff;
  font-size: 0.875rem;
  border-top: 1px solid #ddd;

  .footer-left,
  .footer-right {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    line-height: 18px;
  }

  .footer-left {
    font-weight: 400;
  }

  .footer-right {
    font-weight: 500;

    .language {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
  }
}
