.app-footer {
  // position: fixed;
  // bottom: 0;
  // left: 0;
  width: 100%;
  z-index: 1000;
  max-height: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5em 3em;
  background-color: $clr-bg;
  font-size: 0.91rem;
  border-top: 1px solid $gray2;

  .footer-left,
  .footer-right {
    display: flex;
    align-items: center;
    gap: 0.4em;
    flex-wrap: wrap;
    line-height: 18px;
  }

  .footer-left {
    font-weight: 400;
  }

  .footer-right {
    gap: 0.7em;
    font-weight: 430;

    .language {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
  }
}
