.observer-top{
  position: absolute;
  top: 0;
  height: 1px;
  opacity: 0;
  pointer-events: none;
}

.app-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: linear-gradient(180deg, $clr-white 39.9%, $gray-3 100%);
  height: rem(200px);
  border-block-end: 1px solid #ebebeb;

  // transition: height .2s; //! Glitching 

  &.header-small{
    height: rem(80px);

    .filter-bar{
      display: none;
    }
  }

  .header-content {
    display: flex;
    width: 100%;
    align-items: center;
    font-size: .8em;
    margin-block-end: rem(25px);

    height: rem(78px);
    padding-inline: rem(24px);

    .btn-user {
      @include circle-button(40px);
      margin-inline-start: auto;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .btn-menu {
      @include circle-button(40px);
      color: $clr-text-primary;
      background-color: $clr-btn-menu;
      margin-inline-start: rem(12px);
    }

    .logo {
      color: $clr-brand-main;


      .logo-icon,
      .logo-full {
        display: none;
      }

      // // Show icon only on medium screens
      @media (min-width: 550px) and (max-width: 743px) {
        .logo-icon {
          display: block;
        }
      }

      // Show full logo on wide screens
      @media (min-width: 744px) {
        .logo-full {
          display: block;
        }
      }
    }
  }
}