.message-to-host {
  background-color: $clr-bg;
  border: 1px solid $gray2;
  border-radius: 1.3em;
  padding: 1.1em;
  margin-top: 1.35em;
  margin-bottom: 1.35em;
  display: flex;
  flex-direction: column;

  p {
    font-size: 0.8em;
    color: $clr7;
    margin-bottom: 0.651em;
  }

  textarea {
    position: relative;
    z-index: 1000;
  }

}
.message-area {
  font-family: 'Airbnb Cereal VF', 'Circular', -apple-system, 'BlinkMacSystemFont', 'Roboto', 'Helvetica Neue', sans-serif;;
  width: 100%;
  padding: 0.7em;
  border: 1px solid $gray6;
  border-radius: 0.4em;
  font-size: 0.8em;
  font-weight: 400;
  resize: vertical;
  line-height: 1.4;

  &::placeholder {
    color: $gray7;
  }
}
