// styles/_MessageToHost.scss
.message-to-host {
  background-color: $clr-bg;
  border: 1px solid $gray2;
  border-radius: 1.3em;
  padding: 1.1em;
  margin-top: 1.35em;
  margin-bottom: 1.35em;

  display: flex;
  flex-direction: column;

  p {
    color: $clr7;
    margin-bottom: 0.65em;
  }

  textarea {
    width: 100%;
    font-family: "Airbnb Cereal", -apple-system, BlinkMacSystemFont, sans-serif;
    padding: 0.7em;
    border: 1px solid $gray6;
    border-radius: 0.4em;
    font-size: 0.89em;
    font-weight: 500;
    resize: vertical;
    line-height: 1.4;

    &::placeholder {
      color: $gray7;
    }
  }
}
