// //*Airbnb Cereal
@font-face {
  font-family: 'Airbnb Cereal';
  src: url('/fonts/AirbnbCerealLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Airbnb Cereal';
  src: url('/fonts/AirbnbCerealBookk.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Airbnb Cereal';
  src: url('/fonts/AirbnbCerealMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Airbnb Cereal';
  src: url('/fonts/AirbnbCerealSemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Airbnb Cereal';
  src: url('/fonts/AirbnbCerealBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}